body {
    font-family: Arial, Helvetica, sans-serif, Lucida, Geneva;
    background: #ffffff;
}

a, a:link, a:visited {
    color: #800000;
}

a:hover {
    color: #ff0000;
}

.message {
    clear: both;
    color: #000000;
}

.upload.image {
    display: block;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: #ff0000;
    border: 1px solid #800000;
}

.joined, .left {
    clear: both;
    color: #cb81cb;
}

.paste {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-family: Courier, Courier New, Verdana, monospace;
    border: 1px solid #909090;
    background: #efefef;
}

.topic {
    clear: both;
    color: #808080;
}

.tweet {
    clear: both;
    color: #000000;
}

.upload {
    clear: both;
    color: #000000;
}

.time {
    color: #c0c0c0;
}

.author {
    color: #808080;
}

.alert .author {
    color: #ff0000;
    font-weight: bold;
}

.author.self {
    color: #000080;
}

.topic .new_topic {
    font-weight: bold;
}
