body {
    font-family: Arial, Helvetica, sans-serif, Lucida, Geneva;
    background: #002b36;
}

a, a:link, a:visited {
    color: #b58900;
}

a:hover {
    color: #a9a900;
}

.message {
    clear: both;
    color: #fdf6e3;
}

.upload.image {
    display: block;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: #cb4b16;
    border: 1px solid #dc322f;
}

.joined, .left {
    clear: both;
    color: #2aa198;
}

.paste {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-family: Courier, Courier New, Verdana, monospace;
    border: 1px solid #073642;
    background: #839496;
    color: #073642;
}

.topic {
    clear: both;
    color: #657b83;
}

.tweet {
    clear: both;
    color: #fdf6e3;
}

.upload {
    clear: both;
    color: #fdf6e3;
}

.time {
    color: #586e75;
}

.author {
    color: #fdf6e3;
}

.alert .author {
    color: #cb4b16;
    font-weight: bold;
}

.author.self {
    color: #268bd2;
}

.topic .new_topic {
    font-weight: bold;
}
