body {
    font-size: 14px;
}

.message {
    clear: both;
    color: #000000;
}

.alert {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: #ff0000;
    border: 1px solid #800000;
}

.joined, .left {
    clear: both;
    color: #cb81cb;
}

.paste {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid black;
    background: #efefef;
}

.topic {
    clear: both;
}

.tweet {
    clear: both;
}

.time {
    color: #c0c0c0;
}

.author {
    color: #808080;
}

.alert .author {
    color: #ff0000;
    font-weight: bold;
}

.author.self {
    color: #000080;
}

.topic .new_topic {
    font-weight: bold;
}
